@tailwind base;
@tailwind components;
@tailwind utilities;
/* To start tailwind: npx tailwindcss -i ./src/index.css -o ./dist/output.css --watch */

/*Zero styles*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body,
#root {
    background-color: #d4e0f1;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
  -webkit-touch-callout: none; /* Disables the callout menu on touch and hold */
  -webkit-user-select: none; /* Prevents text selection */
  -webkit-tap-highlight-color: transparent; /* Prevents the blue highlight on touch */
  user-select: none; /* Prevents text selection */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.note__preview ul,
.note__preview li {
    list-style: inside !important;
}

.note__preview ol li {
    list-style: numbers inside !important;
}

.note__preview a {
    text-decoration: underline;
}

.note__preview a:hover {
    text-decoration: none;
}

.note__preview p {
    min-height: 1rem;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

.border-bottom {
    @apply border-b-2 border-solid border-cyan-100 transition-all focus-within:border-b-[3px] focus-within:border-cyan-200;
}

.custom-border {
    @apply border-solid border-cyan-100 transition-all focus-within:border-cyan-200;
}

.border-bottom-md {
    @apply md:border-b-2 border-solid border-cyan-100 transition-all md:focus-within:border-b-[3px] focus-within:border-cyan-200;
}

.border-bottom-lg {
    @apply lg:border-b-0 border-b-2 border-solid border-cyan-100 transition-all lg:focus-within:border-b-0 focus-within:border-b-[3px] focus-within:border-cyan-200;
}

.border-bottom-lg-show {
    @apply lg:border-b-2 border-b-0 border-solid border-cyan-100 transition-all lg:focus-within:border-b-[3px] focus-within:border-b-0 focus-within:border-cyan-200;
}

.border-bottom-sm {
    @apply sm:border-b-0 border-b-2 border-solid border-cyan-100 transition-all sm:focus-within:border-b-0 focus-within:border-b-[3px] focus-within:border-cyan-200;
}

.border-bottom-xs {
    @apply xs:border-b-0 border-b-2 border-solid border-cyan-100 transition-all xs:focus-within:border-b-0 focus-within:border-b-[3px] focus-within:border-cyan-200;
}

.flex-between {
    @apply flex justify-between items-center;
}

.fl {
    @apply flex items-center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Loading animation */
.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    width: 100%;
    overflow: hidden;
}

.dot-revolution {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-revolution::before,
.dot-revolution::after {
    content: '';
    display: inline-block;
    position: absolute;
}

.dot-revolution::before {
    left: 0;
    top: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 20px;
    animation: dotRevolution 1.4s linear infinite;
}

.dot-revolution::after {
    left: 0;
    top: -30px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 35px;
    animation: dotRevolution 1s linear infinite;
}

@keyframes dotRevolution {
    0% {
        transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotateZ(360deg) translate3d(0, 0, 0);
    }
}

.padding-x {
    @apply md:px-[15vw] sm:px-[10vw] px-[6vw];
}

.small-padding-x {
    @apply lg:px-[5vw] px-[4vw];
}

/* Alert */
.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
}

.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 2s;
}

/* Text Editor */
.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
    height: auto;
}

.public-DraftStyleDefault-block {
    margin: 0.5rem 0;
}

.new-note:hover .plus {
    transform: rotateZ(90deg);
}

.starred-btn:hover .star {
    transform: rotateZ(145deg);
}

.filter-option.focused .filter-arrow {
    color: #fff;
    animation-name: rotate-filter-arrow-on;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.filter-arrow.closed {
    animation-name: rotate-filter-arrow-off;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes rotate-filter-arrow-on {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(540deg);
    }
}

@keyframes rotate-filter-arrow-off {
    from {
        transform: rotate(540deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.filter-search-input:hover + .filter-search-delete,
.filter-option.focused .filter-arrow,
.filter-option:hover .filter-arrow {
    @apply !text-white;
}

.filter-modal-option:hover .option-checkbox {
    @apply border-white;
}

.filter-modal {
    min-width: max(25vw, 270px);
}

.rdw-emoji-modal,
.rdw-embedded-modal {
    left: auto !important;
    right: 0 !important;
}

.other-note-btn:hover h4 {
    @apply text-cyan-800;
}

.other-note-btn:hover h5 {
    @apply text-cyan-900;
}

.public-DraftStyleDefault-block {
    @apply leading-6 !important;
}
