@tailwind base;
@tailwind components;
@tailwind utilities;
/* To start tailwind: npx tailwindcss -i ./src/index.css -o ./dist/output.css --watch */

/*Zero styles*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body,
#root {
    @apply bg-slate-300;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

.border-bottom {
    @apply border-b-2 border-solid border-cyan-100;
}

/* Loading animation */
.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    width: 100%;
    overflow: hidden;
}

.dot-revolution {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-revolution::before,
.dot-revolution::after {
    content: '';
    display: inline-block;
    position: absolute;
}

.dot-revolution::before {
    left: 0;
    top: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 20px;
    animation: dotRevolution 1.4s linear infinite;
}

.dot-revolution::after {
    left: 0;
    top: -30px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 35px;
    animation: dotRevolution 1s linear infinite;
}

@keyframes dotRevolution {
    0% {
        transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotateZ(360deg) translate3d(0, 0, 0);
    }
}

.padding-x {
    @apply px-[15vw];
}

/* Alert */
.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
}

.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 2s;
}

/* Text Editor */
.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
    height: auto;
}
